= turbo_frame_tag "features-gif" do
  = video_tag "chordly_features.webm", class: "hero-image",
    autoplay: true, loop: :loop, playsinline: true, muted: true, "webkit-playsinline": true,
    preload: "auto", poster: asset_url("chordly_features_still.webp")
