= @content.html_safe

p style="margin: 0 0 16px; font-size: 15px; line-height: 1.65; color: #374151;"
  span Thanks,
  br
  span Stuart, creator of Chordly

p style="margin: 0; font-size: 13px; color: #777783; font-style: italic;"
  span To stop receiving these emails,&nbsp;
  a target="_blank" href=unsubscribe_url(token: @user_uuid) style="color: #777783;" click here
  | .
