// @charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

// Update Bulma"s global variables
$purple: #80475E;
$blue: #4B88A2;
$cyan: #90DDF0;
$green: #ABD1B5;
$yellow: #FFBD00;
$red: #E63535;
$grey-darker: #393947;
$grey-dark: #555562;
$grey: #777783;
$grey-light: #9F9FA8;
$grey-lighter: #C7C7CC;
$grey-lightest: #E3E3E8;

$family-sans-serif: "Nunito", sans-serif;
$primary: $purple;
$info: $blue;
$success: $green;
$warning: $yellow;
$danger: $red;

$link: $primary;

@import "bulma/bulma";
@import "chord_sheets";
@import "flash";
@import "contenteditable";
@import "markdown";
@import "fadeable";
@import "cookies";

.hero-image {
  max-width: -webkit-fill-available;
}

@media (min-width: 768px) {
  .hero-image {
    max-width: 60%;
  }
}

.media-content {
  overflow-x: initial;
}

.stat-card {
  min-width: 20rem;
  margin-top: .5rem;
}