.chord-line {
  font-weight: bold;
}

.card-link:hover {
  background-color: $white-ter;
}

#show-page-title:hover + #edit-icon {
  opacity: 1;
}

#edit-icon {
  opacity: 0;
  transition: opacity .5s;
}

#flash-message {
  position: absolute;
  right: -10%;
  opacity: 0;
  z-index: 999;
  animation: scroll-appear 1s forwards;

}

@keyframes scroll-appear {
  100% { 
    right: 0;
    opacity: 1;
  }
}