.chord-line {
  font-weight: bold;
}

.card-link:hover {
  background-color: $white-ter;
}

#chord_sheet_content {
  font-family: monospace;
}

.sort-by-icon {
  color: $grey-light;
}

.is-active {
  color: $primary;
}

a.sort-by-icon:hover {
  color: $grey;
}

a.sort-by-icon.is-active:hover {
  color: darken($primary, 10%);
}