.chord-line {
  font-weight: bold;
}

.card-link:hover {
  background-color: $white-ter;
}

#chord_sheet_content {
  font-family: monospace;
}

.sort-by-icon {
  color: $grey-light;
}

.is-active {
  color: $primary;
}

a.sort-by-icon:hover {
  color: $grey;
}

a.sort-by-icon.is-active:hover {
  color: darken($primary, 10%);
}

.see-more-container {
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  max-height: 35em;
  overflow-y: hidden;

  transition: max-height 1s ease-in;
}

.version-container {
  border-radius: 2rem;
  border: 1px solid $grey-lightest;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1),
              0 0px 0 1px rgba(10,10,10,.02);;
}

#chord-diagram {
  cursor: pointer;
}

#diagram-select {
  position: absolute;
  top: 70px;
  background-color: white;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1);
  border-radius: 1rem;
}

.hidden {
  display: none;
}

.diagram-option {
  cursor: pointer;
  padding: 1rem;
  border-bottom: 1px $grey-lightest solid;

  &:hover {
    background-color: $grey-lightest;
  }

  &:first-child {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  &:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}

.diagram-option:last-child {
  border-bottom: 0;
}
