[contenteditable="true"]:hover {
  > .edit-icon, + .edit-icon {
    opacity: 1;
  }
}

.edit-icon {
  opacity: 0.3;
  transition: opacity .5s;
}

#content-edit-icon {
  position: absolute;
  right: 10px;
}

[contenteditable="true"]:focus {
  border: none;
  outline: none;
  background-color: var(--bulma-schema-main-ter);

  > .edit-icon, + .edit-icon {
    opacity: 1;
  }
}

// [contenteditable="true"]:hover::before,
// [contenteditable="true"]:focus::before{
// content:"Edit Me!";
// }
