#flash-message {
  position: fixed;
  right: -10%;
  opacity: 0;
  z-index: 999;
}

#flash-message.has-background-success {
  animation: scroll-in-out 3s forwards;

  &:hover {
    animation-play-state: paused;
    opacity: 1 !important;
  }
}

#flash-message.has-background-danger {
  animation: scroll-in 1s forwards;
  
  &:hover {
    opacity: 1 !important;
  }
}

@keyframes scroll-in-out {
  20% { 
    right: 10%;
    opacity: 0.9;
  }

  80% { 
    right: 10%;
    opacity: 0.9;
  }

  100% {
    opacity: 0;
  }
}

@keyframes scroll-in {
  100% {
    opacity: 0.9;
    right: 10%;
  }
}
