<svg title="Chord diagrams" width="35" height="35" viewBox="0 0 100 105" class="svg-disabled" id="chord-diagram" data-chord-diagram-target="icon" data-action="click->chord-diagram#click_icon">
  <line x1="0" y1="24" x2="100" y2="24" style="stroke-width:2; stroke-linecap:square"></line>
  <line x1="0" y1="44" x2="100" y2="44" style="stroke-width:2; stroke-linecap:square"></line>
  <line x1="0" y1="64" x2="100" y2="64" style="stroke-width:2; stroke-linecap:square"></line>
  <line x1="0" y1="84" x2="100" y2="84" style="stroke-width:2; stroke-linecap:square"></line>
  <line x1="0" y1="104" x2="100" y2="104" style="stroke-width:2; stroke-linecap:square"></line>
  <line x1="0" y1="0" x2="0" y2="104" style="stroke-width:2; stroke-linecap:square"></line>
  <line x1="20" y1="0" x2="20" y2="104" style="stroke-width:2; stroke-linecap:square"></line>
  <line x1="40" y1="0" x2="40" y2="104" style="stroke-width:2; stroke-linecap:square"></line>
  <line x1="60" y1="0" x2="60" y2="104" style="stroke-width:2; stroke-linecap:square"></line>
  <line x1="80" y1="0" x2="80" y2="104" style="stroke-width:2; stroke-linecap:square"></line>
  <line x1="100" y1="0" x2="100" y2="104" style="stroke-width:2; stroke-linecap:square"></line>
  <line id="nut" x1="0" y1="4" x2="100" y2="4" style="stroke-width:8"></line>
</svg>
